{% extends "base.html" %} {% block content %}
{% load tailwind_filters %}
<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <div class="w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">Update Agent</h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">
          {{ agent.user.username }}
        </h1>
        <div class="flex mb-4">
          <a
            href="{% url 'agents:agent_details' agent.pk %}"
            class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1"
            >Overview</a
          >
          <a 
          href="{% url 'agents:agent_update' agent.pk %}"
          class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1"
            >Edit Details</a
          >
        </div>
        <p class="leading-relaxed mb-4">
          <form action="." method="POST">
            {% csrf_token %} {{ form|crispy }}
            <div class="flex justify-end">
              <div class="mr-1">
                <input type="submit" value="Submit" class="px-4 py-2 bg-blue-500 hover:bg-blue-600 text-indigo-50" />
              </div>
              <a
                href="{% url 'agents:agent_delete' agent.pk %}"
                class="flex justify-center w-1/6 text-white bg-red-500 border-0 py-2 px-8 focus:outline-none hover:bg-red-600 rounded"
              >
                Delete
              </a>
            </div>
          </form>
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
