{% extends "base.html" %} {% block content %}

<section class="text-gray-600 body-font">
  <div class="container px-5 py-10 mx-auto">
    <div class="flex flex-row justify-between w-full mb-20">
      <div>
        <h1
          class="text-2xl font-medium title-font text-gray-900 tracking-widest"
        >
          Leads
        </h1>
        <div>
          <a
            href="{% url 'leads:category_list' %}"
            class="text-gray-500 hover:text-blue-500"
          >
            view categories
          </a>
        </div>
      </div>
      {% if request.user.is_organiser %}
      <a
        href="{% url 'leads:lead_create' %}"
        class="text-gray-500 hover:text-blue-500"
        >Create a Lead</a
      >
      {% endif %}
    </div>
    <div><h1 class="text-2xl font-bold py-4">Assigned Leads</h1></div>
    <div class="container px-5 py-10 mx-auto">
      <div class="w-full mx-auto overflow-auto">
        <table class="table-auto w-full text-left whitespace-no-wrap">
          <thead>
            <tr>
              <th
                class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tl rounded-bl"
              >
                First Name
              </th>
              <th
                class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100"
              >
                Last Name
              </th>
              <th
                class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100"
              >
                Age
              </th>
              <th
                class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100"
              >
                Email
              </th>
              <th
                class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100"
              >
                Phone
              </th>
              <th
                class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100"
              >
                Category
              </th>
              <th
                class="w-10 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100 rounded-tr rounded-br"
              ></th>
            </tr>
          </thead>
          <tbody>
            {% for lead in leads %}
            <tr>
              <td class="px-4 py-3">{{ lead.first_name }}</td>
              <td class="px-4 py-3">{{ lead.last_name }}</td>
              <td class="px-4 py-3">{{ lead.age }}</td>
              <td class="px-4 py-3 text-lg text-gray-900">{{ lead.email }}</td>
              <td class="px-4 py-3 text-lg text-gray-900">
                {{ lead.phone_number }}
              </td>
              <td class="px-4 py-3 text-lg text-gray-900">
                {% if lead.category %}
                <span
                  class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"
                >
                  {{ lead.category.category_name }}
                </span>
                {% else %}
                <span
                  class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-gray-100 text-gray-800"
                >
                  Unassigned
                </span>
                {% endif %}
              </td>
              <td class="w-20 text-left">
                <a
                  href="{% url 'leads:lead_details' lead.id %}"
                  class="text-blue-500 hover:text-blue-600"
                  >Edit</a
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% if unassigned_leads.exists %}
    <div><h1 class="text-2xl font-bold py-4">Unassigned Leads</h1></div>
    <div class="flex flex-wrap -m-4 pt-4">
      {% for lead in unassigned_leads %}
      <div class="p-4 lg:w-1/2">
        <div
          class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left"
        >
          <img
            alt="team"
            class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4"
            src="https://dummyimage.com/200x200"
          />
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-medium text-lg text-gray-900">
              <a href="{% url 'leads:lead_details' lead.id %}"> {{ lead }}</a>
            </h2>
            <h3 class="text-gray-500 mb-3">{{ lead.email }}</h3>
            <p class="mb-4">{{ lead.description }}</p>
            <a
              href="{% url 'leads:assign_agent' lead.id %}"
              class="text-blue-600"
              >Assign an agent</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>
{% endblock content %}
